*,
p,
ol,
ul,
label {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  word-break: break-all;
}
input[type="checkbox"],
input[type="radio"] {
  line-height: normal;
  margin: 0px 0 0;
}
a:hover {
  color: #333;
  text-decoration: none;
}
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}
img {
  vertical-align: middle;
  border: none;
}
body {
  font-family: "Microsoft Yahei", "微软雅黑", "Hiragino Sans GB", tahoma, arial;
  background: #fff;
  line-height: 1.6 ;
  color: #333;
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
}
.block {
  width: 1000px;
  margin: 0 auto;
}
.f_l {
  float: left;
}
.f_r {
  float: right;
}
.ps {
  display: none;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.drawer-navbar--fixed {
  position: absolute;
}
.drawer-hamburger {
  position: absolute;
}
.section_1 {
  background: #000110;
}
.block {
  width: 1200px;
  margin: 0 auto;
}
.public-footer {
  background: #1b1b1b;
  padding-top: 50px;
  padding-bottom: 80px;
}
.public-footer .other-box {
  margin-bottom: 20px;
}
.public-footer .other-box .nav a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin-right: 75px;
}
.public-footer .other-box .nav a:hover {
  color: #666;
}
.public-footer .other-box .share {
  float: right;
}
.public-footer .other-box .share a {
  display: inline-block;
  width: 32px;
  height: 31px;
  margin-left: 10px;
  vertical-align: bottom;
  transition: 0.8s transform;
  -webkit-transition: 0.8s transform;
  -moz-transition: 0.8s transform;
  -ms-transition: 0.8s transform;
}
.public-footer .other-box .share a:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
.public-footer .other-box .share .share01 {
  background: url(../images/icon.png) 0px -70px no-repeat;
}
.public-footer .other-box .share .share01:hover {
  background: url(../images/icon.png) 0px -35px no-repeat !important;
}
.public-footer .other-box .share .share02 {
  background: url(../images/icon.png) -45px -70px no-repeat;
}
.public-footer .other-box .share .share02:hover {
  background: url(../images/icon.png) -45px -35px no-repeat !important;
}
.public-footer .other-box .share .share03 {
  background: url(../images/icon.png) -90px -70px no-repeat;
}
.public-footer .other-box .share .share03:hover {
  background: url(../images/icon.png) -90px -35px no-repeat !important;
}
.public-footer .other-box .share .share04 {
  background: url(../images/icon.png) -130px -70px no-repeat;
}
.public-footer .other-box .share .share04:hover {
  background: url(../images/icon.png) -130px -35px no-repeat !important;
}
.public-footer .msg-box {
  color: #999999;
}
.public-footer .msg-box .name-box {
  margin-bottom: 0px;
}
.public-footer .msg-box .name-box .cn {
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
}
.public-footer .msg-box .item {
  float: left;
  margin-right: 90px;
}
.public-footer .copy-box {
  font-size: 12px;
  color: #666666;
}
.public-footer .copy-box a {
  color: #666;
}
.website-wrap .session_1 {
  position: relative;
  width: 100%;
  height: 100vh;
}
.website-wrap .banner-box {
  position: relative;
  width: 100%;
  background: #00317b;
  height: 59vh;
  text-align: center;
  margin-bottom: 70px;
}
.website-wrap .banner-box .img-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
  bottom: -70px;
}
.website-wrap .banner-box .img-box img {
  height: 49vh;
}
.website-wrap .banner-box .txt-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(30px);
}
.website-wrap .banner-box .txt-box img {
  height: 16vh;
}
.website-wrap .title_1 {
  position: relative;
  z-index: 9;
  text-align: center;
  color: #222222;
  background: #fff;
}
.website-wrap .title_1 h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 5px;
}
.website-wrap .title_1 p {
  font-size: 14px;
}
.website-wrap .title_1 p span {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.website-wrap .hint-box {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  animation: arrow 1.2s infinite;
}
.website-wrap .hint-box p {
  margin-top: 10px;
}
.website-wrap .session_2 {
  margin-top: 200px;
  margin-bottom: 100px;
}
.website-wrap .session_2 .title_2 {
  text-align: center;
  color: #222222;
  margin-bottom: 90px;
}
.website-wrap .session_2 .title_2 h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 5px;
}
.website-wrap .session_2 .title_2 p {
  font-size: 14px;
}
.website-wrap .session_2 .title_2 p span {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.website-wrap .session_2 .msg-box {
  position: relative;
  margin: 0 auto;
  margin-bottom: -200px;
  z-index: 999;
  width: 950px;
  height: 500px;
  border: 1px solid #155db7;
  border-radius: 10px;
  padding: 20px;
}
.website-wrap .session_2 .msg-box .msg-center {
  border: 1px solid #74a8e7;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
}
.website-wrap .session_2 .msg-box .msg-center .txt-box {
  padding-left: 170px;
  padding-top: 100px;
  color: #222;
  text-align: left;
}
.website-wrap .session_2 .msg-box .msg-center .txt-box em {
  color: #1476ed;
}
.website-wrap .session_2 .msg-box .msg-center .txt-box .title_1 {
  font-size: 20px;
}
.website-wrap .session_2 .msg-box .msg-center .txt-box .title_2 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 0px;
  line-height: 1;
}
.website-wrap .session_2 .msg-box .msg-center .txt-box .title_3 {
  font-size: 24px;
}
.website-wrap .session_2 .msg-box .msg-center .txt-box .info {
  margin-top: 10px;
  font-size: 14px;
  color: #666666;
}
.website-wrap .session_2 .msg-box .msg-center .sort-box {
  margin-top: 60px;
  text-align: center;
}
.website-wrap .session_2 .msg-box .msg-center .sort-box .item-box {
  position: relative;
  display: inline-block;
  margin-right: 140px;
  cursor: pointer;
}
.website-wrap .session_2 .msg-box .msg-center .sort-box .item-box:last-child {
  margin-right: 0;
}
.website-wrap .session_2 .msg-box .msg-center .sort-box .item-box .motion-box {
  position: absolute;
  top: -7px;
  right: -7px;
  z-index: 1;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: #b1d4ff;
  overflow: hidden;
  -webkit-animation: pulsate 1.5s 0s ease-in-out infinite;
  animation: pulsate 1.5s 0s ease-in-out infinite;
}
.website-wrap .session_2 .msg-box .msg-center .sort-box .item-box .mouse-icon {
  position: absolute;
  bottom: -70px;
  right: 20px;
  width: 18px;
  height: 45px;
}
.website-wrap .session_2 .msg-box .msg-center .sort-box .item-box .mouse-icon i {
  display: block;
  width: 18px;
  height: 6px;
  margin: 0 auto;
  background: url(../images/icon_23.png) no-repeat center;
}
.website-wrap .session_2 .msg-box .msg-center .sort-box .item-box .mouse-icon span {
  position: absolute;
  bottom: 0;
  display: block;
  width: 18px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/icon_24.png) no-repeat center;
  -webkit-animation: float ease-in-out 1.5s infinite;
  animation: float ease-in-out 1.5s infinite;
}
.website-wrap .session_2 .msg-box .msg-center .sort-box .item-box .img-box {
  position: relative;
  z-index: 99;
  background: #1476ed;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 100%;
}
.website-wrap .session_2 .msg-box .msg-center .sort-box .item-box .info-txt {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 60px;
  background: #1476ed;
  border-radius: 100px;
  z-index: 999;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  color: #fff;
  padding-top: 12px;
  font-size: 12px;
}
.website-wrap .session_2 .msg-box .msg-center .sort-box .item-box:hover .info-txt {
  display: block;
}
.website-wrap .session_2 .msg-box .button-icon {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -56px;
}
.website-wrap .session_2 .content-box {
  position: relative;
  padding-top: 140px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 175px;
}
.website-wrap .session_2 .content-box .wave_1 {
  position: absolute;
  top: 0px;
  height: 140px;
  background: url(../images/icon_2.png);
  background-size: 50% 140px;
  width: 200%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
  animation: move_wave 10s linear infinite;
}
.website-wrap .session_2 .content-box .wave_2 {
  position: absolute;
  z-index: 9;
  height: 140px;
  top: 0;
  animation: move_wave 15s linear infinite;
  background: url(../images/icon_3.png);
  background-size: 50% 140px;
  width: 200%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.website-wrap .session_2 .content-box .other-box {
  padding-top: 200px;
  height: 550px;
  width: 100%;
  background: #003f92;
  background-size: 100% 100%;
}
.website-wrap .session_2 .content-box .other-box .txt-info {
  text-align: center;
  color: #fff;
}
.website-wrap .session_2 .content-box .other-box .txt-info h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 70px;
}
.website-wrap .session_2 .content-box .other-box .txt-info .all-item .item-box {
  position: relative;
  display: inline-block;
  padding-left: 90px;
  padding-right: 90px;
}
.website-wrap .session_2 .content-box .other-box .txt-info .all-item .item-box:first-child:before {
  position: absolute;
  content: '';
  top: 20px;
  right: 0;
  bottom: 20px;
  width: 1px;
  background: #155db7;
}
.website-wrap .session_2 .content-box .other-box .txt-info .all-item .item-box p {
  line-height: 1.8;
}
.website-wrap .session_2 .content-box .other-box .txt-info .all-item .item-box p img {
  margin-bottom: 10px;
}
.website-wrap .session_2 .content-box .other-box .txt-info .imgs-box {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.website-wrap .session_3 .title_4 {
  text-align: center;
  margin-bottom: 80px;
}
.website-wrap .session_3 .title_4 h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 5px;
}
.website-wrap .session_3 .title_4 p {
  font-size: 14px;
}
.website-wrap .session_3 .radar-bg {
  background: url(../images/icon_10.png) center top no-repeat;
  background-size: auto 100%;
}
.website-wrap .session_3 .radar-box {
  position: relative;
  text-align: center;
  width: 650px;
  height: 650px;
  margin: 0 auto;
  overflow: hidden;
}
.website-wrap .session_3 .radar-box > img {
  width: 100%;
  height: 100%;
}
.website-wrap .session_3 .radar-box .icon {
  position: absolute;
  z-index: 99;
}
.website-wrap .session_3 .radar-box .icon_1 {
  left: 27%;
  top: 10%;
}
.website-wrap .session_3 .radar-box .icon_2 {
  right: 30%;
  top: 15%;
}
.website-wrap .session_3 .radar-box .icon_3 {
  bottom: 30%;
  right: 8%;
}
.website-wrap .session_3 .radar-box .icon_4 {
  bottom: 17%;
  right: 30%;
}
.website-wrap .session_3 .radar-box .icon_5 {
  bottom: 7%;
  left: 30%;
}
.website-wrap .session_3 .radar-box .icon_6 {
  left: 13%;
  top: 46%;
}
.website-wrap .session_3 .radar-box .pointer {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  animation: radar-beam 6s infinite;
  animation-timing-function: linear;
  transform-origin: bottom right;
  border-radius: 90% 0 0 0;
  overflow: hidden;
}
.website-wrap .session_3 .radar-box .pointer img {
  width: 100%;
  height: 100%;
}
.website-wrap .session_3 .radar-box .logo-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110px;
  height: 110px;
  background: #fff;
  line-height: 110px;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: 999;
}
.website-wrap .session_3 .radar-box .logo-box img {
  width: 70px;
  height: 70px;
}
.website-wrap .session_4 {
  background: url(../images/img_3.jpg) center top repeat-y;
  background-size: 100% 100%;
  padding-top: 110px;
  padding-bottom: 110px;
  margin-top: 100px;
}
.website-wrap .session_4 .title_5 {
  text-align: center;
  margin-bottom: 80px;
  color: #fff;
}
.website-wrap .session_4 .title_5 h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 5px;
}
.website-wrap .session_4 .title_5 p {
  font-size: 14px;
}
.website-wrap .session_4 .imgs-box {
  text-align: center;
}
.website-wrap .session_4 .txt_1-box {
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 2;
}
.website-wrap .session_4 .txt_1-box a {
  color: #fff088;
}
.website-wrap .session_4 .txt_2-box {
  text-align: center;
  color: #fff;
  margin-top: 60px;
}
.website-wrap .session_4 .txt_2-box h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.website-wrap .session_4 .txt_2-box p {
  font-size: 14px;
  color: #c4dcff;
}
.website-wrap .session_5 {
  padding-top: 120px;
  background: #f7f7f7;
  padding-bottom: 110px;
}
.website-wrap .session_5 .title_6 {
  text-align: center;
  color: #222;
  margin-bottom: 80px;
}
.website-wrap .session_5 .title_6 h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 5px;
}
.website-wrap .session_5 .title_6 p {
  font-size: 14px;
}
.website-wrap .session_5 .all-item {
  width: 1200px;
  margin: 0 auto;
}
.website-wrap .session_5 .all-item .row {
  margin-left: -20px;
  margin-right: -20px;
}
.website-wrap .session_5 .all-item .item-box {
  width: 50%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  box-sizing: border-box;
}
.website-wrap .session_5 .all-item .item-box a {
  display: block;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.website-wrap .session_5 .all-item .item-box a:hover {
  z-index: 2;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
.website-wrap .session_5 .all-item .item-box img {
  width: 100%;
}
.website-wrap .session_5 .all-item .item-box .txt-box {
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
}
.website-wrap .session_5 .all-item .item-box .txt-box h3 {
  font-size: 16px;
  font-weight: 400;
}
.website-wrap .session_5 .all-item .item-box .txt-box p {
  font-size: 14px;
  color: #999999;
}
.website-wrap .session_5 .all-item .item-box a {
  color: #222;
  text-decoration: none;
}
.website-wrap .session_5 .more-box {
  text-align: center;
}
.website-wrap .session_5 .more-box .more {
  margin-top: 60px;
  display: inline-block;
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #1476ed;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
}
.website-wrap .session_5 .more-box .more:hover {
  background: #1267d0;
}
@media screen and (max-width: 1024px) {
  .drawer-dropdown-menu-item {
    line-height: 2.8;
    padding-top: 0;
    padding-bottom: 0;
  }
  .ps {
    display: block;
  }
  .block {
    width: 100%;
  }
  .m15 {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .website-wrap .session_1 .banner-box {
    margin-bottom: 30px;
    height: 45vh;
  }
  .website-wrap .session_1 .banner-box .img-box {
    bottom: -20px;
  }
  .website-wrap .session_1 .banner-box .img-box img {
    height: 30vh;
  }
  .website-wrap .session_1 .banner-box .txt-box {
    transform: translateY(0px);
  }
  .website-wrap .session_1 .banner-box .txt-box img {
    height: 8vh;
  }
  .website-wrap .title_1 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .website-wrap .title_1 h3 {
    font-size: 16px;
  }
  .website-wrap .title_1 p {
    font-size: 12px;
    text-align: left;
  }
  .website-wrap .title_1 p span {
    margin: 0;
    display: inline;
  }
  .website-wrap .hint-box img {
    height: 25px;
  }
  .website-wrap .hint-box p {
    font-size: 12px;
  }
  .website-wrap .session_2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .website-wrap .session_2 .title_2 {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .website-wrap .session_2 .title_2 h3 {
    font-size: 16px;
  }
  .website-wrap .session_2 .title_2 p {
    font-size: 12px;
    text-align: left;
  }
  .website-wrap .session_2 .msg-box {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
  }
  .website-wrap .session_2 .msg-box .button-icon {
    bottom: -35px;
    margin-left: -20px;
  }
  .website-wrap .session_2 .msg-box .button-icon img {
    height: 35px;
  }
  .website-wrap .session_2 .msg-box .msg-center {
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
  }
  .website-wrap .session_2 .msg-box .msg-center .txt-box {
    padding-top: 15px;
    padding-left: 0;
  }
  .website-wrap .session_2 .msg-box .msg-center .txt-box .title_1 {
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
  }
  .website-wrap .session_2 .msg-box .msg-center .txt-box .title_2 {
    padding: 0;
    font-size: 14px;
  }
  .website-wrap .session_2 .msg-box .msg-center .txt-box .title_3 {
    font-size: 14px;
  }
  .website-wrap .session_2 .msg-box .msg-center .txt-box .info {
    font-size: 12px;
  }
  .website-wrap .session_2 .msg-box .msg-center .sort-box {
    display: none;
  }
  .website-wrap .session_2 .content-box {
    padding-top: 100px;
    padding-bottom: 0;
  }
  .website-wrap .session_2 .content-box .wave_1 {
    display: none;
  }
  .website-wrap .session_2 .content-box .wave_2 {
    display: none;
  }
  .website-wrap .session_2 .content-box .other-box {
    padding-top: 160px;
    height: auto;
  }
  .website-wrap .session_2 .content-box .other-box .txt-info h3 {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .website-wrap .session_2 .content-box .other-box .txt-info .imgs-box {
    display: none;
  }
  .website-wrap .session_2 .content-box .other-box .txt-info .all-item {
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
  }
  .website-wrap .session_2 .content-box .other-box .txt-info .all-item .item-box {
    float: left;
    width: 50%;
    padding: 0;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  .website-wrap .session_2 .content-box .other-box .txt-info .all-item .item-box:first-child:before {
    top: 35px;
  }
  .website-wrap .session_2 .content-box .other-box .txt-info .all-item .item-box img {
    height: 30px;
  }
  .website-wrap .session_2 .content-box .other-box .txt-info .all-item .item-box p {
    font-size: 12px;
  }
  .website-wrap .session_3 .title_4 {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
  .website-wrap .session_3 .title_4 h3 {
    font-size: 16px;
  }
  .website-wrap .session_3 .title_4 p {
    font-size: 12px;
  }
  .website-wrap .session_3 .radar-bg .radar-box {
    width: 55vh;
    height: 55vh;
  }
  .website-wrap .session_3 .radar-bg .radar-box .icon_1 img,
  .website-wrap .session_3 .radar-bg .radar-box .icon_3 img,
  .website-wrap .session_3 .radar-bg .radar-box .icon_5 img {
    height: 28px;
  }
  .website-wrap .session_3 .radar-bg .radar-box .icon_2 img {
    height: 40px;
  }
  .website-wrap .session_3 .radar-bg .radar-box .icon_4 img,
  .website-wrap .session_3 .radar-bg .radar-box .icon_6 img {
    height: 32px;
  }
  .website-wrap .session_4 {
    margin-top: 40px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    padding-bottom: 40px;
  }
  .website-wrap .session_4 .title_5 {
    margin-bottom: 30px;
  }
  .website-wrap .session_4 .title_5 h3 {
    font-size: 16px;
  }
  .website-wrap .session_4 .title_5 p {
    font-size: 12px;
  }
  .website-wrap .session_4 .imgs-box {
    display: none;
  }
  .website-wrap .session_4 .txt_1-box {
    margin-top: 30px;
  }
  .website-wrap .session_4 .txt_1-box p {
    font-size: 12px;
  }
  .website-wrap .session_4 .txt_2-box {
    margin-top: 30px;
  }
  .website-wrap .session_4 .txt_2-box h3 {
    font-size: 16px;
  }
  .website-wrap .session_4 .txt_2-box p {
    font-size: 12px;
  }
  .website-wrap .session_5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .website-wrap .session_5 .title_6 {
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .website-wrap .session_5 .title_6 h3 {
    font-size: 16px;
  }
  .website-wrap .session_5 .title_6 p {
    font-size: 12px;
  }
  .website-wrap .session_5 .all-item {
    width: 100%;
  }
  .website-wrap .session_5 .all-item .row {
    margin-left: 0;
    margin-right: 0;
  }
  .website-wrap .session_5 .all-item .item-box {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
  }
  .website-wrap .session_5 .all-item .item-box .txt-box {
    padding: 15px;
  }
  .website-wrap .session_5 .all-item .item-box .txt-box h3 {
    font-size: 14px;
  }
  .website-wrap .session_5 .all-item .item-box .txt-box p {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .website-wrap .session_5 .more-box .more {
    font-size: 13px;
    width: 160px;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
  }
  .public-footer {
    position: relative;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .public-footer .other-box {
    margin-bottom: 15px;
  }
  .public-footer .other-box .nav {
    width: 100%;
    float: none;
    text-align: center;
  }
  .public-footer .other-box .nav a {
    font-size: 13px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .public-footer .other-box .share {
    float: none;
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
  }
  .public-footer .msg-box {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    font-size: 12px;
  }
  .public-footer .msg-box .name-box .cn {
    margin-top: 0px;
  }
  .public-footer .copy-box {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes arrow {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
@keyframes radar-beam {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blips {
  
}
@keyframes slidesUp {
  0% {
    -webkit-transform: translateYtranslateY(100px);
    transform: translateY(100px);
    visibility: visible;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slidesUp {
  -webkit-animation-name: slidesUp;
  animation-name: slidesUp;
}
@keyframes slidesDown {
  0% {
    -webkit-transform: translateYtranslateY(-100px);
    transform: translateY(-100px);
    visibility: visible;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slidesDown {
  -webkit-animation-name: slidesDown;
  animation-name: slidesDown;
}
@-webkit-keyframes slidesRight {
  0% {
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
    visibility: visible;
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slidesRight {
  0% {
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
    visibility: visible;
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slidesRight {
  animation-name: slidesRight;
  -webkit-animation-name: slidesRight;
}
@-webkit-keyframes slidesLeft {
  0% {
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
    visibility: visible;
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slidesLeft {
  0% {
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
    visibility: visible;
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slidesLeft {
  animation-name: slidesLeft;
  -webkit-animation-name: slidesLeft;
}
@-webkit-keyframes slidesUp_2 {
  0% {
    -webkit-transform: translateY 10%;
    transform: translateY(10%);
    visibility: visible;
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slidesUp_2 {
  0% {
    -webkit-transform: translateY 10%;
    transform: translateY(10%);
    visibility: visible;
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slidesUp_2 {
  -webkit-animation-name: slidesUp_2;
  animation-name: slidesUp_2;
}
/*# sourceMappingURL=style.css.map */